body{
	overflow-x: hidden;
}

p{
	text-align:right;
	font-family: 'Tajawal', sans-serif;
	font-size: 18px;
	font-weight:normal;
}
.card-body{
	font-family: 'Tajawal', sans-serif;
	text-align:center;
}
video{
	width:95%;
	height: 95%;
	border:5;


	
}
.card-title{
	text-align:center;
	margin-bottom:5%;
	margin-top: 5%;
	font-size: 18px;
}

.icon{
	width:30%;
	height: 30%;
	margin:0 auto;
}
.cardp{
	width: 300px;
	height: 300px;
	background: white;
	box-shadow: 0 5px 10px #bbb;
	text-align: center;
	position: relative;
	z-index: 0;


}
.cardp:hover{
	height: 550px
}
.row .col-sm{
	margin-top: 6%;
	
}

.cardp .image img{
	height:250px;
	
}
.cardp:hover .image img {
	transform: scale(1.1) rotate(20deg);


}
	.cardp::before{
		content: '';
		position: absolute;
		top: 0; left:0; 
		height: 100%;
		width:100%;
		background:#33256A;
		z-index:-1;
		clip-path:circle(50% at 70% 18%);
		transition: .2s linear;
	}
	.cardp:hover::before{
		clip-path:circle(120% at 85% 0);
	}
	.cardp .content{
		transform: translateY(100px);
		opacity: 0;
	}
	.cardp:hover .content{
		transform: translateY(0px);
		opacity: 1;
	}
	 .cardp .content .title{
	 	font-size: 30px;
	 	color:white;
	 }
	 .cardp .content .description{
	 	font-size: 10px;
	 	color:white;
	 }
	/* .card .other{
	 	 position: absolute;
		  top:50%; right: 0;
		  transform: translateY(-50%);
		  display: flex;
		  align-items: center;
		  flex-flow: column;
		  background:#fff;
		  padding:5px;
		  padding-right: 17px;
		  clip-path: polygon(25% 0%, 75% 0, 75% 100%, 25% 100%, 0% 50%);
		  border-left: 2px solid #3333;
		  opacity: 0;

	 }
       .card:hover .other{
	 	right: -90px;
 		 opacity: 1;

	 }

	 .card .other span{
	 	display:block;
	 	height: 20px;
	 	width: 20px;
	 	margin:8px 15px ;
	 	cursor: pointer;
	 	box-shadow: 0 3px 5px #999;
	 }
	 .card .other span.activate{
	 	box-shadow: 0 0 0 6px #3333;
	 }*/

	 .pro{
		 
		 width:300px;
		 height:400px;
		margin: 0 auto;
		
	 }
	 .card .face{
		 position:absolute;
		
		 width:100%;
		 height:100%;
		
		
		
		
		 backface-visibility: hidden;
		 transition:0.7s ease-in-out;
		 transform:perspective(500px) rotateY(0deg);
		
	 }
	 .card .face.front{
		 background:white;
		 
	 }
	 .card:hover .face.front{
		transform:perspective(500px) rotateY(180deg);
	 }
	 .card .face.back{
		background:#33256A;
		color:azure;
		transform:perspective(500px) rotateY(180deg);

		
	}
	.card:hover .face.back{
		transform:perspective(500px) rotateY(360deg);
	 }
	 
	 .pname{
		 margin-top: 25%;
		 text-align:center;
		 font-size: 25px;
		 margin-left:2% ;
		margin-right:2%;
	 }
	 .pdescription{
		text-align:center;
		font-size: 15px;
		margin-left:5% ;
		margin-right:5%;
	 }

	 .sponcer{
		 font-size:20px;
	
	 }
	.values {
		border:none;
	}
	.inner-div{
	
		
		width: 50%;
		height: 50%;
		margin-top: 20%;
		text-align: center;
		margin-right: 25%;
		
	}
	.maps{
		height:500px;
	}
	.contact{
		font-family: 'Tajawal', sans-serif;
		font-size:15px
	}
	.sp{
		margin-top: 25%;
	}
	.swiper-container {
		width: 100%;
		height: 100%;
	  }
  .swiper-slide {
  
      font-size: 18px;
    
      width: 900px;
	height:600px}  
	
	
	.swiper-pagination-bullet{
	
		background: var(--swiper-pagination-color, var(--swiper-theme-color));
		background-color:#33256A;

		width:17px;
		height:17px;
		margin-top: 100%;
	
		
	}
.h7{
	text-align:center;
	color:White;
}